body {
  padding-bottom: 20px;
}

.title {
  font-size: 50px;
  font-family: Raleway, "Times New Roman", serif;
  font-weight: bold;
}

.logout {
  margin-top: 20px;
}

.brand-image {
  width: 30px;
  height: 30px;
  margin-left: -15px;
}

.perfil {
  margin-top: 10px;
}

.perfil img {
  width: 35px;
  height: 35px;
}

.perfil button:hover {
  color: red !important;
}

.menu-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-nav li a {
  font-weight: bold;
  font-size: 16px;
}

.title-block {
  color: #c97e0e;
}

.inicioContenedor {
  width: 60%;
  margin: 100px auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  border: 1px solid black;
}

.formEdit {
  background-color: #c9f3ff;
}

.formEdit div {
  padding-right: 0;
}

textarea {
  resize: none;
}

.paginacion {
  margin-top: -22px;
}

@media (min-width: 768px) {
  .description {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .description {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .father {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .child-left {
    position: absolute;
    top: 50%;
    right: 100%;
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }

  .child-right {
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
}

