.inicioTitle {
  font-size: 50px;
}

.inicioContenido {
  width: 60%;
  margin: 100px auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  border: 1px solid black;
}

.crearUsuario {
  width: 80%;
  margin: 100px auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  border: 1px solid black;
}

.registroNombre {
  width: 35%;
  display: inline-block;
}

.registroApellidos {
  width: 60%;
  display: inline-block;
}

