body {
  padding-bottom: 20px;
}

.title {
  font-size: 50px;
}

.logout {
  margin-top: 20px;
}

.brand-image {
  width: 25px;
  height: 25px;
  margin-left: -15px;
}

.menu-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-block {
  color: #c97e0e;
}

.inicioContenedor {
  width: 60%;
  margin: 100px auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  border: 1px solid black;
}

.formEdit {
  background-color: #c9f3ff;
}

.formEdit div {
  padding-right: 0;
}

textarea {
  resize: none;
}

.paginacion {
  margin-top: -22px;
}

