// Variables ---------------------------------------------
$md-width: 768px;


// Mixins ---------------------------------------------

@mixin center-right{
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
}

@mixin center-left{
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translate(100%, -50%);
}


// Estilos ---------------------------------------------

body{
	padding-top: 20px;
	padding-bottom: 20px;
}

.title{
	font-size: 50px;
	font-family: Raleway, "Times New Roman", serif;
	font-weight: bold;
}

.logout{
	margin-top: 20px;
}

.brand-image{
	width: 30px;
	height: 30px;
	margin-left: -15px;
}

.perfil{
	margin-top: 10px;

	img{
		width: 46px;
		height: 46px;
	}

	button:hover{
		color: red!important;
	}
}

.menu-nav{
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu-nav li a{
	font-weight: bold;
	font-size: 16px;
}

.title-block{
	color: #c97e0e;
}

.main-container{
	margin-top: 50px;
}

.formEdit{
	background-color: #c9f3ff;
}

.formEdit div{
	padding-right: 0;
}

textarea{
	resize: none;
}

.paginacion{
	margin-top: -22px;
}

.user-image{
	width: 100px;
	height: 100px;
}


// Media querys ---------------------------------------------

@media (min-width: $md-width) {
	.description{
		font-size: 20px;
	}
}

@media (max-width: $md-width) {
	.description{
		font-size: 14px;
	}
}

@media (min-width: $md-width){
	.father{
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.child-left{
		@include center-left;
	}

	.child-right{
		@include center-right;
	}
}
