// Variables ---------------------------------------------
$md-width: 768px;


// Mixins ---------------------------------------------

@mixin center-right{
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
}

@mixin center-left{
	position: absolute;
	top: 50%;
	right: 100%;
	transform: translate(100%, -50%);
}


// Estilos ---------------------------------------------

html{
	min-height: 100%;
	position: relative;
}

body{
	background-color: white;
	
	@media (min-width: $md-width) {
		padding-top: 20px;
		margin-bottom: 70px;
	}

	@media (max-width: $md-width) {
		margin-bottom: 50px;
	}
}

textarea{
	resize: none;
}

.title{
	font-size: 50px;
	font-family: Raleway, "Times New Roman", serif;
	font-weight: bold;
}

.logout{
	margin-top: 20px;
}

.logout-sm{
	& button{
		background: #fff;
		color: #636b6f;
	}
}

.brand-image{
	width: 30px;
	height: 30px;
}

.perfil{
	margin-top: 10px;

	img{
		width: 46px;
		height: 46px;
	}

	button:hover{
		color: red!important;
	}

	& .pull-right{
		line-height: 45px;
	}
}

.menu-nav{
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu-nav li a{
	font-weight: bold;
	font-size: 16px;
}

.title-block{
	color: #c97e0e;
}

.main-container{
	margin-top: 50px;
}

.formEdit div{
	padding-right: 0;
}

.paginacion{
	margin-top: -22px;
}

.user-image{
	width: 100px;
	height: 100px;
}

.footer{
	background-color: rgb(100, 100, 100);
	color: white;
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;

	& > *{
		position: absolute;
		top: 25%;
	}
}

.fondos-xs{
	line-height: 45px;
	font-weight: bold;
	font-size: 20px;
}

.btn-action{
	color: #636b6f;
}

.show-more{
	text-decoration: none;
	color: white;

	&:hover{
		text-decoration: none;
		color: white;
		cursor: pointer;
	}
}


// Clases sobreescritas ---------------------------------------------

.input-group > .glyphicon{
	top: 0;
}

.glyphicon-log-out{
	button:hover &{
		color: red;
	}
}

.btn-link{
	padding-top: 2px;
	padding-bottom: 2px;

	&:hover, &:focus{
		text-decoration: none;
	}

	&:hover .btn-action{
		color: #2b2b2b;
	}
}


// Media querys ---------------------------------------------

@media (max-width: $md-width) {
	div[class*="description"]{
		font-size: 14px;
	}

	.title-block{
		font-size: 24px;
	}

	.chart-container{
		position: relative;
		width: 100%;
		height: 300px;
		margin: auto;
	}
}

@media (min-width: $md-width){
	div[class*="description"]{
		font-size: 20px;
	}

	.table{
		& th{
			font-size: 18px;
		}
	}

	.description-right{
		float: right;
	}

	.father{
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.child-left{
		@include center-left;
	}

	.child-right{
		@include center-right;
	}

	.chart-container{
		position: relative;
		width: 100%;
		height: 400px;
		margin: auto;
	}
}
